section.section.home-6(setBackground="./img/bg4.png")
	.container 
		.row 
			.col-md-8.col-sm-12.mx-auto
				.desc.color-white.text-uppercase.text-center production process
				.section-title.color-white.m-0.text-center To be recognized as the leader in the development and supply of innovative and sustainable athletic footwear
				a.btn.btn-white.mx-auto.mt-30(href="") View all jobs