section.section.home-6(setBackground="./img/bg4.png")
	.container 
		.wraper-content 
			.desc JOIN CHING LUH
			.section-title Help shape the future of sports footwear at Ching Luh
			a.btn.btn-white.mx-auto(href="") View all jobs
