section.section.our-business-philosophy
	.container 
		.row 
			.col-lg-6 
				.wrap-img 
					img.lazyload(data-src="./img/about/business.png", alt="")
			.col-lg-6
				.wrap-content 
					.section-title Our Business Philosophy
					.desc 
						p In 1986, our Chairman Mr. Su Ching Luh established a philosophy to guide Ching Luh in pursuit of our mission. This philosophy is called “Make It Right” and it emphasises sustainability, quality, the environment, talent cultivation and corporate responsibility, and it informs all aspects of our business. This philosophy was summarised with 8 core tenets:
						ul
							li 
								p - Prudent management based on creative methods
							li 
								p - Strict control to ensure precision
							li
								p - Sustainable development with an emphasis on environmental care and awareness
							li 
								p - Community focus to build shared prosperity
							li 
								p - A safe workplace and a focus on employee wellbeing and quality of life
							li 
								p - Workforce development to build future leaders
							li 
								p - Pragmatic responsibility in assuming social obligations
							li 
								p - Maximize shareholder value and share the benefits"
