section.section.home-3(setbackground="./img/bg3.png")
	.container
		.row 
			.col-md-6.col-sm-10
				.desc.color-white.text-uppercase production process
				.section-title.color-white.m-0 To be recognized as the leader in the development and supply of innovative and sustainable athletic footwear
				a.btn.btn-white.mt-30(href="")
					em.material-icons play_circle_outline
					span Watch video