section.section.home-3(setbackground="./img/bg3.png")
	.container
		.wrapper-content 
			.desc To be recognized as the leader in the development and supply of innovative and sustainable athletic footwear
			a.btn.btn-white.mt-30(href="")
				em.material-icons play_circle_outline
				span Watch video
