section.section.our-locations
	.container 
		.section-title Our Locations
		.container--tabs
			ul.nav-tabs
				li.active
					a(href='#tab-1') Long An
				li
					a(href='#tab-2') Fujian
				li
					a(href='#tab-3') Tainan
				li
					a(href='#tab-4') Banten
				li
					a(href='#tab-5') Hongkong
			.tab-content
				#tab-1.tab-panel.active
					.wrapper-content 
						.sub-title Long An Province - Vietnam
						.wrap-desc 
							.item 
								.title Facilities
								.desc 3 Factories
							.item 
								.title Employees
								.desc 35,000
							.item 
								.title Closest major city
								.desc Ho Chi Minh
							.item 
								.title Key function
								.desc 
									|Development and 
									br
									|Production for Nike and Mizuno
					.wrapper-slide-location 
						.swiper-container
							.swiper-wrapper
								-for(i=1; i<5; i++)
									.swiper-slide
										.img
											img.lazyload(data-src="./img/about/location.png", alt="")
						.swiper-button-next 
						.swiper-button-prev 
