section.section.home-5
	.container
		.wrap-img 
			.img 
				img(data-src="./img/home-5.png" alt="" class="lazyload")
		.row.no-gutters
			.col-md-5.col-sm-12
				.section-title Worldwide Locations
				.desc.mb-30 Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.link-viewmore 
					a(href="") View more