section.section.statement 
	.container 
		.section-title Sustainability
		ul.nav-zone 
			li.active 
				a(href="") Sustainability statement
			li 
				a(href="focus.html") Our Focus
		.row
			.col-lg-5.col-md-12 
				.wrapper-content 
					.content 
						.sub-title Mission
						.desc To minimize environmental impact and maximize resource efficiency
			.col-lg-7.col-md-12
				.wrapper-img 
					-for(i=1; i<5; i++)
						.item 
							.img 
								img.lazyload(data-src="./img/statement/i-"+i+".png", alt="")
