section.section.core-values(setBackground="./img/about/bg-4.png")
	.container
		.section-title.color-white Core Values
		.row 
			-for(i=1; i<9; i++)
				.col-lg-3 
					.item 
						.img 
							img(src="./img/icons/i-"+i+".png", alt="")
						.wrap-content 
							.text.color-white.f-18 Work Smart

