section.section.home-1(setbackground="./img/bg2.png")
	.container 
		.row 
			.col-10.mx-auto 
				.section-title.color-text #[strong Ching Luh] employs over #[strong 78,000] people and is one of the world’s leading sports footwear producers.
				.brief-content Find out what it’s like to work for one of the world’s leading footwear producers.
				.wrap-btn 
					a(href="").btn.btn-primary
						em.material-icons play_circle_outline
						span Watch video
					a(href="").btn.btn-primary
						em.material-icons business
						span Factory 