extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'homepage'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breadcrumb/breadcrumb.pug
	include ../components/about/a-1/a-1.pug
	include ../components/about/a-2/a-2.pug
	include ../components/about/a-3/a-3.pug
	include ../components/about/a-4/a-4.pug
	include ../components/about/a-5/a-5.pug
	include ../components/about/a-6/a-6.pug
