extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'homepage'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breadcrumb/breadcrumb.pug
	include ../components/sustainability/focus/focus.pug
