section.section.our-focus 
	.container 
		.section-title Sustainability
		ul.nav-zone 
			li
				a(href="") Sustainability statement
			li.active 
				a(href="focus.html") Our Focus
		.row 
			.col-lg-3.col-md-4.col-sm-6 
				.item-focus.zoom-img 
					.img 
						a(href="") 
							img.lazyload(data-src="./img/focus/i-1.png", alt="")
					.content 
						.title 
							a(href="") Safety Newsletter
						.button 
							a.learn-more(href="") Learn more
			.col-lg-3.col-md-4.col-sm-6  
				.item-focus.zoom-img 
					.img 
						a(href="engagement.html") 
							img.lazyload(data-src="./img/focus/i-2.png", alt="")
					.content 
						.title 
							a(href="") stakeholder - engagement 
						.button 
							a.learn-more(href="") Learn more
			.col-lg-3.col-md-4.col-sm-6  
				.item-focus.zoom-img 
					.img 
						a(href="") 
							img.lazyload(data-src="./img/focus/i-3.png", alt="")
					.content 
						.title 
							a(href="") Sustainability - Newsletter
						.button 
							a.learn-more(href="") Learn more
			.col-lg-3.col-md-4.col-sm-6  
				.item-focus.zoom-img 
					.img 
						a(href="report.html") 
							img.lazyload(data-src="./img/focus/i-4.png", alt="")
					.content 
						.title 
							a(href="") Sustainability report
						.button 
							a.learn-more(href="") Learn more
