section.section.home-7 
	.container
		.wrapper
			.logo-2.mb-30 
				.img 
					img(data-src="./img/logo2.png" alt="" class="lazyload")
			.section-title Sign up to our newsletter
			.wrap-subscribe 
				.subscribe
					.subscribefrm 
						input(type="text", placeholder="Your email")
						button Proceed
			