.breadcrumb-wrapper
	.container
		ol.breadcrumb
			li
				a(href='index.html')
					img(data-src="./img/ic-breadcrumb.png" alt="" class="lazyload")
			li
				a(href='#') News & Events
			li.active
				a(href='#') News & Events
