section.section.why-choose 
	.container 
		.row 
			.col-lg-6 
				.wrap-content 
					.section-title Our community
					.content 
						.desc 
							p At Ching Luh, we aim to foster a sense of teamwork and harmony within the company, and with the local communities in the areas we operate. As a member of the sporting goods industry, we understand the importance of teamwork and it is a crucial aspect of how we operate our business and build new relationships.
						a.btn.btn-view-more(href="") View more
			.col-lg-6 
				.wrap-img 
					img.lazyload(data-src="./img/why-choose/i-1.png", alt="")
			.col-lg-6 
				.wrap-content 
					.section-title Our Socio-Economic impact
					.content 
						.desc 
							p Ching Luh Group believes in fulfilling our social responsibilities in the communities in which we operate. We recognise that we can directly and indirectly impact the livelihoods of those in our communities for the better through employment, education, and the production of services and goods that contribute to overall economic development.

							p At Ching Luh we continue to set the most stringent requirements and expectations when selecting and working with local suppliers. We ensure that our suppliers and partners share the same business philosophy and practices as us. In doing so, we create fruitful partnerships that benefit our business partners, our employees, our communities, and our shareholders.
			.col-lg-6 
				.wrap-img 
					img.lazyload(data-src="./img/why-choose/i-2.png", alt="")
