section.section.report
	.container 
		.section-title Sustainability report
		.sort 
			label Năm 
			.wrap-drop
				a.title(href="") All
					em.lnr.lnr-chevron-down
				ul.drop-down
					li 
						a(href="") 2011
					li 
						a(href="") 2012
					li 
						a(href="") 2013
		.row 
			-for(i=1; i<10; i++)
				.col-lg-4.col-md-4.col-sm-6
					.item 
						.img 
							a(href="") 
								img(src="./img/icons/pdf.png", alt="")
						.content 
							a(href="") 2019 annual Sustainability Report.pdf
