section.section.our-vision
	.container 
		.hero-vision.d-flex
			.wrap-content 
				.section-title our vision
				.desc To be recognized as the leader  in the development and supply of innovative and sustainable athletic footwear
			.wrap-img 
				.img
					img.lazyload(data-src="./img/about/vision.png", alt="")
