section.section.join-chingluh 
	.container 
		.section-title Recruitment policy
		.row 
			.col-lg-6 
				.wrapper-list 
					.row
						.col-lg-6.col-md-6
							.item 
								.title Non-Discrimination
								.desc 
									p We ensure that we are fair and equal in our treatment of all potential and current employees regardless.
						.col-lg-6.col-md-6
							.item 
								.title Merit-Based Hiring
								.desc 
									p We ensure that our hiring of any new employee is based solely on their qualifications and suitability for the job.
						.col-lg-6.col-md-6
							.item 
								.title No Under-Age Employees
								.desc 
									p We ensure that we do not hire candidates who are below the company employment policy.
						.col-lg-6.col-md-6
							.item 
								.title Respect
								.desc 
									p We ensure that the assignment of jobs and responsibilities will be done with respect to each employee’s aspirations and capabilities balanced with the needs of our business.
						.col-lg-6.col-md-6
							.item 
								.title Openness
								.desc 
									p We ensure that we keep an open environment and welcome suggestions and complaints.
						.col-lg-6.col-md-6
							.item 
								.title Business Ethic & Integrity
								.desc 
									p Employees of Ching Luh Group or its subsidiaries will not accept gifts or favours and will act with utmost integrity and transparency.
			.col-lg-6 
				.wrap-img 
					.img 
						img.lazyload(data-src="./img/join/i-1.png", alt="")
section.section.life-chingluh 
	.container 
		.row
			.col-lg-6.col-md-6 
				.wrap-img 
					img.lazyload(data-src="./img/join/i-2.png", alt="")
			.col-lg-6.col-md-6 
				.wrap-content
					.section-title Life at Ching Luh
					.desc 
						p At Ching Luh, we aim to foster a sense of teamwork and harmony within the company, and with the local communities in the areas we operate. As a member of the sporting goods industry, we understand the importance of teamwork and it is a crucial aspect of how we operate our business and build new relationships.
					.button 
						a.btn.btn-view-more(href="life-chingluh.html") View more
section.section.jobs-opening
	.container
		.section-title.color-white Jobs opening
		.row
			.col-lg-9.col-md-9
				.desc Thank you for visiting us. If you are interested in working with Ching Luh, please click “Apply ” and attach your CV. Or you can check opening jobs on below link
				ul
					li
						p Opening Jobs in Vietnam: 
						a(href="")  https://openingjobs.vn
					li
						p Opening Jobs in Indonesia: 
						a(href="")  https://openingjobs.id
			.col-lg-3.col-md-3
				a.btn.btn-apply(href="javascript:;" data-src='#popup-form ' data-fancybox) Apply
