section.section.description(setBackground="../img/bg2.png")
	.container 
		.hero-description 
			p 
				span Ching Luh Group 
				|was established in 1969 by our founder, Mr. Su Ching Luh. Since it’s founding almost 
				span 50 years ago, 
				|Ching Luh has established itself as one of the leading sports footwear manufacturers in the world with manufacturing locations in China, Vietnam and Indonesia.
			p Today, Ching Luh works with some of the 
				span world’s leading sports brands 
				|including adidas, FootJoy, Mizuno, Nike, and Reebok, all of whom count on Ching Luh’s capabilities and expertise to deliver the world’s best footwear.
