section.section.detail-news 
	.container 
		.hero-wrapper
			.title 
				h1 Vietnam Ching Luh was awarded 2016 top 100 sustainable business in Vietnam
			.wrapper-bottom 
				.time 
					em.material-icons date_range
					span March, 15, 2021
				.share-media
			.wrap-article
				.brife-content 
					p
						strong Vietnam Ching Luh has received Top 100 Sustainable Business Award in Vietnam 2016 launched by Vietnam Chamber of Commerce and Industry (VCCI) in Hanoi on November 8. Ching Luh Global OS Head Steve Lee was on behalf of the company to receive the award.
				img.lazyload(data-src="./img/news/detail-1.png", alt="")
				p VCCI’s announcement on the rankings of the 100 most sustainable companies comes one year after Vietnam and 192 other United Nations (UN) member states adopted 17 Sustainable Development Goals (SDGs) and signed the Paris Agreement, showing Vietnam’s high awareness of supporting businesses toward sustainable development.

				p To achieve these goals, Vietnam Business Council for Sustainable Development (VBCSD) has developed the Corporate Sustainability Index (CSI) to gauge the degree of sustainability from which companies can “shed light” on their sustainability with three interrelated pillars: economy, society and environment. Under the direction of the Government and VCCI, VBCSD has used this index to rank the 100 most sustainable companies in 2016. This is the first time VCCI has coordinated with relevant ministries and agencies such as the Ministry of Labor, Invalids and Social Affairs, the Ministry of Natural Resources and Environment and the Vietnam General Confederation of Labor to set up a benchmarking committee. Workshops have been opened nationwide to disseminate this index to enterprises.
				img.lazyload(data-src="./img/news/detail-2.png", alt="")
				p Some 400 companies have directly implemented this index, particularly listed firms. After nearly one year of preparation and careful selection among more than 400 candidates, they have shortlisted the 100 most sustainable companies in Vietnam. These 100 winners are expected to exert a positive influence on more than 500,000 Vietnamese enterprises, most of whom were small and medium-sized enterprises.

				p As one of the Top 100 most sustainable companies, Vietnam Ching Luh are committed to continue to make efforts on the journey of Sustainable Development Business.
section.section.news-other 
	.container
		.section-title Other News
		.other-slide
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.item-news.zoom-img 
								.wrap-content 
									.time 
										em.material-icons date_range
										span March, 15, 2021
									.title 
										a.lcl.lcl-2(href="news-detail.html") OUR COMMUNITY “LIFT AS WE RISE”
									.desc 
										p.lcl.lcl-3 Dear Colleagues: Happy New Year! Time flies. As the New Year 2018 begins, let us also start anew. When
									.button 
										a(href="news-detail.html") 
											em.lnr.lnr-arrow-right-circle 
											span View more
								.img 
									a(href="news-detail.html") 
										img.lazyload(data-src="./img/news/i-"+i+".png", alt="")
			.swiper-button-next 
			.swiper-button-prev 
