section.section.message-detail 
	.container 
		.section-title 
			h1 2019 Chairman’s new year messega
		.full-content 
			h2.sub-title 2019 CHAIRMAN'S NEW YEAR MESSAGE
			.wrap-content 
				.brife-content 
					p Su Ching Luh
					p New Year 2019
				.article
					.wrap-img 
						.img
							img.lazyload(data-src="./img/news/mes-de.png", alt="")
					.wrap-text 
						h3 Dear Colleagues: Happy New Year!
						p As we start another year, on behalf of the Board of Directors, I would like to send the New Year greetings, wish everything goes well and everyone is peaceful through the years, and have a good beginning of the year and good luck all year round.

						p On the occasion of New Year's greetings, I would like to take the topic of “achievement” to encourage all of us.

						p All the efforts we invest and the endeavors we make, we want nothing but achievement. Student studies diligently to score high marks in examinations; businessman runs business to acquire wealth; farmer and worker works laboriously for prosperous harvest.

						p Achievement, everyone aspires to yet not everyone can get access to. No matter what profession you are engaged in, no achievement if you are selfish, no achievement if you are slack, no achievement if you are ignorant and lack of foresight.
				.article
					.row
						.col-lg-6
							.wrap-text
								p It is valuable if we respect and work with others for a collective creation and establish an achievement together. Not a single achievement is easy to accomplish, because in addition to our efforts, it also requires partners’ support, formers’ experience and others’ assistance. We should be proud of ourselves if we can be part of an achievement of collective creation.

								p Instead of being jealous of others’ achievement, we should respect those who have done achievement because we are sharing their great works every moment in our live, from a book or a cup of tea to the internet can link us to everywhere in the world.
						.col-lg-6
							.wrap-text
								p Achievement, no matter big or small, it is an accomplishment if it is beneficial to country, society and all mankind. We can make our own achievement if we are conscientious and do our best. At the very beginning of a year, hope everyone is moving towards building your own achievement.

								p Wish everyone is in the case of both mental and physical balance and happiness throughout the New Year!




